<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>

		<listener
			class-name="com.automation.remarks.testng.VideoListener" />
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<class name="com.ui.qa.genes.homepage.LandingPageTest" />
			<class name="com.ui.qa.genes.homepage.SelectCountryTest" />			
			<class name="com.ui.qa.genes.category.CategoryTest" />
			<class name="com.ui.qa.genes.category.ClothingPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
